/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

button {
  cursor: pointer;
}
menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.todolist {
  width: 100%;
  max-width: 480px;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;
  border-radius: 15px;
  padding: 16px;
}

.todolist__controller {
  width: 100%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}

form {
  display: flex;
  width: 100%;
  gap: 0 10px;
}
form button {
  background-color: #14c414;
  text-transform: capitalize;
  padding: 0 16px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;
}
form button:active {
  transform: scale(1.1);
}

.todolist__input-wrapper {
  box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}
.todolist__input-wrapper input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.todolist__input-wrapper i {
  color: #ee3b3b;
  cursor: pointer;
}

.todolist__deleteall {
  background-color: #ee3b3b;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 50px;
}

.todolist__taskcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  padding: 20px 0;
  font-family: sans-serif;
  height: 450px;
  overflow-y: auto;
}
.todolist__taskcontainer::-webkit-scrollbar {
  display: none;
}

.todolist__item {
  box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  border-radius: 5px;
}
.todolist__item .todolist__title {
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 5px 0;
  word-break: break-all;
  border-radius: 5px;
  border: 1px solid transparent;
  z-index: 2;
  position: relative;
}
.todolist__item .todolist__title--active {
  text-decoration: line-through;
  padding: 5px 15px;
  color: #fff;
  background: #14c414;
}
.todolist__item small {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: gray;
}

.bounce__item:first-child {
  animation: bounce 0.5s;
}

@keyframes bounce {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.todolist__actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.todolist-btn {
  width: 90px;
  padding: 14px 0;
  border: none;
  color: #fff;
  border-radius: 5px;
  position: relative;
}
.todolist-btn i {
  pointer-events: none;
}

.complete {
  background-color: #14c414;
}

.edit {
  background-color: #ffd700;
}

.time {
  background-color: dodgerblue;
}

.done {
  background-color: blueviolet;
}

.delete {
  background-color: #ee3b3b;
}

.additonal__time {
  position: absolute;
  background-color: #222;
  color: #fff;
  padding: 10px;
  font-size: 13px;
  top: -40px;
  border-radius: 5px;
  transform: scale(0);
  left: 5px;
  transition: 0.2s;
  opacity: 0;
}

.time:hover > .additonal__time {
  transform: scale(1);
  opacity: 1;
}

.deleted {
  transition: 0.5s;
  opacity: 0;
  transform: translateX(-100%);
} /*# sourceMappingURL=style.css.map */
